<?xml version='1.0' encoding='utf-8'?>
<widget id="org.doichain.contacts.app" version="1.0.47  " xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DoiContacts</name>
    <description>
       Request qualified email permissions via Doichain blockchain
    </description>
    <author email="nico@le-space.de" href="https://le-space.de">
        Doichain Core Team
    </author>
    <icon src="res/icon.png" />
    <content src="index.html" />y
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <hook src="hooks/020_build_version.js" type="before_build" />
    <platform name="android">
        <allow-intent href="market:*" />
        <allow-intent href="doichain:*" />
    </platform>
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-intent href="doichain:*" />
        <preference name="UseSwiftLanguageVersion" value="5" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="BackupWebStorage" value="none" />
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>need location access to store it locally only with new contacts</string>
        </edit-config>
    </platform>
</widget>
